.list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.img {
  border-radius: 20px;
}

.wrap {
  display: flex;
  gap: 10px;
  /* align-items: flex-end; */
}

.titleWrap {
  display: flex;
  gap: 5px;
  align-items: center;
}
.genresList {
  display: flex;
  list-style-type: none;
  gap: 5px;
  padding-left: 0;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}
.movie {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
