* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  list-style: none;
}
.btn {
  background-color: #23263c;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px 40px;
  width: fit-content;
}
body {
  padding: 20px;
  background-color: #0f1017;
  color: white;
}
